---
// Component Imports

import type { HTMLAttributes } from 'astro/types';
import Button from "../components/utils/Button.astro";
import Main from "../layouts/main.astro";
import { siteConfig } from "../const.ts";
import DynamicFactSection from '../components/section/FactSection.astro';
import ProblemSection from '../components/section/ProblemSection.astro';
import BenefitSection from '../components/section/BenefitSection.astro';
import BonusSection from "../components/section/BonusSection.astro";
import Social from '../components/section/SocialProofSection.astro';

---


<Main title={siteConfig.SITE_TITLE}>
 
  <!-- HEADLINE -->
   
<section class="bg-white dark:bg-gray-900">
  <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
      <div class="order-2 md:order-1 mr-auto place-self-center lg:col-span-7">
          <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
            Jasa Kelola Akun Tiktok <br>
            <span class="text-pink-600"># Konten FYP</span><br>
            Jualan Makin Pede
          </h1>
          <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
            Solusi manajemen, naikkan view dan follower akun tiktok biar bisnis makin eksis
          </p>

          <button data-modal-target="modal" data-modal-toggle="modal" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
            Hubungi Kami
          </button>
      </div>
      <div class="order-1 md:order-2 lg:mt-0 lg:col-span-5 lg:flex">
        <img src="https://images.unsplash.com/photo-1603373320366-8c553c3709f7?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="mockup">
      </div>                
  </div>
</section>

  <!-- FACT SECTION -->
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Apakah anda pemilik bisnis online?</h2>
            <p class="text-gray-500 sm:text-xl dark:text-gray-400">Jika anda menjalankan bisnis di sosmed dan tiktok, saya yakin anda pasti memiliki harapan seperti ini</p>
        </div>
        <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-4 md:gap-12 md:space-y-0">
          <DynamicFactSection />
        </div>
    </div>
  </section>

  <!-- PROBLEM SECTION -->
  <div class="overflow-hidden bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div
        class="mx-auto grid items-center max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
      >
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class="text-base font-semibold leading-7 text-red-600">
              Pengen FYP tapi malah Gagal
            </h2>
            <p
              class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
            >
              {siteConfig.problemH1}
            </p>
            <p class="mt-6 text-lg leading-8 text-gray-600">
              {siteConfig.problemP}
            </p>
            <dl
              class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none"
            >
              <ProblemSection />
            </dl>
          </div>
        </div>
        <img
          src="https://i.ibb.co.com/mGzPWTQ/problem.png"
          alt="Product screenshot"
          class=""
        />
      </div>
    </div>
  </div>

  <!-- INTRODUCE PRODUCT -->
  <section class="bg-white dark:bg-gray-900">
    <div
      class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6"
    >
      <img
        class="w-full dark:hidden"
        src="https://i.ibb.co.com/CPqpk3J/introduce.png"
        alt="dashboard image"
      />
      <img
        class="w-full hidden dark:block"
        src="https://i.ibb.co.com/CPqpk3J/introduce.png"
        alt="dashboard image"
      />
      <div class="mt-4 md:mt-0">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          {siteConfig.introduceH1}
        </h2>

        <h3
          class="mb-4 text-xl tracking-tight font-bold text-red-400 dark:text-white"
        >
          # {siteConfig.headlineH2}
        </h3>

        <div>
            <button type="button" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 me-2 mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-circle me-2 text-green" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
              </svg>
              Konten Viral</button>

            <button type="button" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 me-2 mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-app-indicator me-2" viewBox="0 0 16 16">
                <path d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1z"/>
                <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
              </svg>Akun Terkenal</button>

            <button type="button" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 me-2 mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill me-2" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
              </svg>Follower Meningkat</button>

            <button type="button" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 me-2 mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-backpack-fill me-2" viewBox="0 0 16 16">
                <path d="M5 13v-3h4v.5a.5.5 0 0 0 1 0V10h1v3z"/>
                <path d="M6 2v.341C3.67 3.165 2 5.388 2 8v5.5A2.5 2.5 0 0 0 4.5 16h7a2.5 2.5 0 0 0 2.5-2.5V8a6 6 0 0 0-4-5.659V2a2 2 0 1 0-4 0m2-1a1 1 0 0 1 1 1v.083a6 6 0 0 0-2 0V2a1 1 0 0 1 1-1m0 3a4 4 0 0 1 3.96 3.43.5.5 0 1 1-.99.14 3 3 0 0 0-5.94 0 .5.5 0 1 1-.99-.14A4 4 0 0 1 8 4M4.5 9h7a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5"/>
              </svg>Live Shopping Rame</button>
        </div>

        
      
      </div>
    </div>
  </section>

  <!-- BENEFIT -->
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-3 lg:px-5">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base font-semibold leading-7 text-indigo-600">{siteConfig.benefitSlug}</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{siteConfig.benefitTAG}</p>
        <p class="mt-6 text-lg leading-8 text-gray-600">{siteConfig.benefitH1}</p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-3 lg:gap-y-16">
          <BenefitSection/>
        </dl>
      </div>
    </div>
  </div>

  <!-- FITUR -->
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="mb-8 lg:mb-16">
        <h2
          class="flex justify-center items-center mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          Fitur
        </h2>
        <p
          class="flex justify-center items-center text-gray-500 sm:text-xl dark:text-gray-400"
        >
        Tidak hanya itu saja, anda juga akan mendapatkan
        </p>
      </div>
      <div
        class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-4 md:gap-12 md:space-y-0"
      >
        <BonusSection />
      </div>
    </div>
  </section>

  <!-- GAMBAR -->
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-4 md:gap-12 md:space-y-0">
        <div class="flex items-center justify-center">
          <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiWyGI-nI1xhtCE5Qfc4V_OuzyK2NDZysPxGmwJ37OQrdv1xYXdvEKyPuemp4r_QUQNJG_4gYGqqEuh4flVaSfiIUDNxsUTdb5WIe-7LaSBXLl6SFzNi4GAP2YSUDkS2MV9AkGWEEShIn_o08JJXUf-H-KMpEVjOmonePGhrfv7lEMCqglAoJstMEIzbDw/s320/1.png" alt="produk" ></img>
        </div>
        <div class="flex items-center justify-center">
          <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg9mcu1enJROP2rpthbP0MOVPl7P_TSB_thAEqFzXfNZyBCUwoPxJGy85-BvVkNgA9NPC8MlZaszbSUYcDBZiGz6ZevW0SvhI30Lt0sUOI61yhCqIOqIA82jiLhJAxAehiVOih2xwLPtf3J2VT-lwnds_lLAUzs5FdcIgsqt01ItVUAav6D0R9c_a9iC94/s320/2.png" alt="produk" ></img>
        </div>
        <div class="flex items-center justify-center">
          <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgrHKPyFp3dS_KrIaGa7eLaYftke02-mZQNdnCw6Zl58ylKhQKHfjxPrZ0strzD3n4vMh5jYAfFZofI9yKo0a3pqABf3kmpGAVOYOGLeOmVLyeXd7iDwcWdVSEbmcZvNvunmSM69__4fTPhkjuw1sQQNT4VUOYThfnCUDCTnqOvPH_Df9WamgETRu2-1R0/s320/3.png" alt="produk" ></img>
        </div>
        <div class="flex items-center justify-center">
          <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj7JKoBR8pgyl_CZ2h21DpCRysIAY0n2jszzJyGJ6jn6C1D-jG9J7hICOBZqIdMYEwVGMOv0wSVqnbJgKRo9EY6AEy3VAFmPguMEBHmn7mtBBIvWgehfydk5DVuOgxUEkEZM_xXxb5hycLg0tsqTPUqtRIj1HNdf69NX9GFrGduqdQ5uQyDB9l1t1nl5-Q/s320/4.png" alt="produk" ></img>
        </div>
      
        
      </div>
    </div>

  </section>

  <!-- CTA 1 -->
  <section class="bg-white dark:bg-gray-900">
    <div
      class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6"
    >
      <img
        class="w-full dark:hidden"
        src="https://i.ibb.co.com/DL4PT7Z/undraw-Software-engineer-re-tnjc.png"
        alt="dashboard image"
      />
      <img
        class="w-full hidden dark:block"
        src="https://i.ibb.co.com/DL4PT7Z/undraw-Software-engineer-re-tnjc.png"
        alt="dashboard image"
      />
      <div class="mt-4 md:mt-0">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          {siteConfig.CTA1}
        </h2>
        <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
          {siteConfig.CTA1p}
        </p>
        <button data-modal-target="modal" data-modal-toggle="modal" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Hubungi Kami</button>
      </div>
    </div>
  </section>

  <!-- Social Proof -->
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
      <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          {siteConfig.SocialProofH1}
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
          {siteConfig.SocialProofp}
        </p>
      </div>
      <div
        class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-2"
      >
        <Social />
      </div>
    </div>
  </section>
  
  <!-- BONUS -->
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="mx-auto text-center">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white">
              <span class="underline decoration-sky-500">B</span>onus
            </h2>
            <p class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg">Dapatkan bonus berikut, jika anda memutuskan untuk berkolaborasi dengan kami sekarang juga.</p>
            
            <div>
              <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Free 3-5 ad crceative sebagai materi iklan</button>
              <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Potongan fee jasa untuk kontrak langsung 3 bulan</button>
            </div>
        </div>
    </div>
  </section>

  <!-- GARANSI -->
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="mx-auto text-center">
            <h2 class=" underline decoration-pink-500 mb-4 text-4xl tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white">
              Garansi
            </h2>
            <p class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg">Jangan khawatir kami garansi anda akan mendapatkan:              .</p>
            
            <div>
              <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Lead berkualitas yang bisa difollow up</button>
              <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Winning Campaign (best perform campaign)</button>
              <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">ROI/ROAS ++ (untuk paket tertentu)</button>
            </div>
        </div>
    </div>
  </section>

  <!-- CTA -->
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white">
              
              <span class="underline decoration-sky-500">Scale up bisnis</span> anda dengan akun tiktok bisnis profesional
            </h2>
            <p class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg">hubungi kami, slot klien kami terbatas</p>
            <button data-modal-target="modal" data-modal-toggle="modal" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Hubungi Kami</button>
        </div>
    </div>
</section>

<!-- ACCORDION -->
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-4xl sm:py-16 lg:px-6">
    <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
      <h2 id="accordion-flush-heading-1">
        <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">
          <span>Apa itu Qissa?</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
          </svg>
        </button>
      </h2>
      <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <p class="mb-2 text-gray-500 dark:text-gray-400">Digital cretaive agency</p>
        </div>
      </div>
      
    </div>
  </div>
</section>

  <!-- CTA LAST -->
  <div class="bg-white">
    <div class="relative isolate ">
      <div class="absolute inset-x-0  -z-10 transform-gpu overflow-hidden blur-3xl " aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[rgb(253,128,236)] to-[#ca445bcc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="mx-auto max-w-2xl py-32 sm:py-48 ">
        
        <div class="text-center">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">{siteConfig.ClosingH1}</h1>
          <p class="mt-6 text-lg leading-8 text-gray-600">{siteConfig.Closingp}</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <button data-modal-target="modal" data-modal-toggle="modal" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" type="button">
              Hubungi Kami
            </button>
          </div>
        </div>
      </div>
      <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
        <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
    </div>
  </div>

  

</Main>

<!-- Main modal -->
<div id="modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-2xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                <span class="underline decoration-sky-500">Viral</span> bersama kami
              </h3>
              <button type="button" id="btnClose" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="modal">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Close modal</span>
              </button>
          </div>
          <!-- Modal body -->
          <form class="p-4 md:p-5" id="form" enctype="multipart/form-data">

            <div class="grid gap-6 mb-6 md:grid-cols-2">
              <div>
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nama</label>
                <input type="text" name="name" id="name" class="name bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Nama" required="">
              </div>

              <div>
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <input type="email" name="email" id="name" class="email bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Email" required>
              </div>

              <div>
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Telepon</label>
                <input type="number" name="phone" id="phone" class="name bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Telepon" required>
              </div>

              <div>
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Perusahaan</label>
                <input type="text" name="company" id="company" class="email bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Perusahaan" required>
              </div>

            </div>

              <div class="grid gap-4 mb-4 grid-cols-2">
                  
                
                  <div class="col-span-2">
                      <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ceritakan Bisnis Kamu</label>
                      <textarea name="description" id="description" rows="4" class="description block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required></textarea>                    
                  </div>
              </div>
              <button type="submit" id="submit" class="inline-flex items-center text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tiktok me-3" viewBox="0 0 16 16">
                  <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z"/>
                </svg>
                Kirim
              </button>
          </form>
      </div>
  </div>
</div> 


<script>
  import Parse from "parse/dist/parse.min.js";
  
  let APPLICATION_ID = 'qVkmDXfIDGPY6u7SHaaAYz3Eax6cDQUVrpicxFLz';
  let JAVASCRIPT_KEY = 'SoCDwU1hWAAIrJiaDJ7WBQCUqPgzo3Yg1avXr4fi';

  Parse.initialize(APPLICATION_ID, JAVASCRIPT_KEY);
  Parse.serverURL = "https://parseapi.back4app.com";

  const btnClose = document.getElementById('btnClose');
  

 

  async function send (){
    const Journal = Parse.Object.extend("Leads");
    const user = new Journal();
      // Set the input values to the new "User" object
      user.set("name", document.querySelector('input[name="name"]').value);
      user.set("email", document.querySelector('input[name="email"]').value);
      user.set("phone", document.querySelector('input[name="phone"]').value);
      user.set("company", document.querySelector('input[name="company"]').value);
      user.set("description", document.querySelector('textarea[name="description"]').value);

      try {
        btnClose.click();
      
        let data = await user.save()
        if (data !== null) {
          alert(`sukses mengirim, kami akan segera menghubungi anda`)
        }

      }catch (error) {
21      //console.log('error')
22    }

  }

  const form = document.getElementById('form');
  form.addEventListener('submit', function(e) {
      e.preventDefault(); // Mencegah form submit secara default
      send();
  });

  
  // document.querySelector("#submit").addEventListener("click", async function () {
  //   send();
  // });


</script>
